#top{
    color:black;
    font-size: 200%;
    margin-left: 4% ; 
    margin-top: 4%;
    

}
#ads{
    background-color: teal;
    color: white;
    margin-left: 70%;
    

    
}
table {
    width: 80%;
    margin:5%;
    
}